body {
  font-family: sans-serif;
}

header {
  background-color: #5E35B1;
  color: #ffffff;
  padding: 15px 20px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sudoku-container {
  display: flex;
  visibility: hidden;
  justify-content: space-around;
}

.button {
    background-color: #ffffff;
    color: #000000;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
}

.button:hover {
    transition: background-color 0.2s;
    background-color: #bbb6b7;
}

.button:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.small-button {
    font-size: 13px;
    padding: 10px;
}

.small-button:active {
    background-color: #9a9596;
}

input[type="file"] {
    display: none;
}

.import-button {
    cursor: pointer;
}

.import-button:active {
    outline: none;
    background-color: #9a9596;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#sudoku-counter-input {
    padding: 11px;
    margin: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    transition: border-color 0.2s;
}

#sudoku-counter-input:focus {
    border-color: #5E35B1;
    outline: #5E35B1;
    -webkit-tap-highlight-color: #5E35B1;
}

.loader-wrapper {
    display: flex;
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(192,192,192,0.3);
    transition: opacity 0.5s;
}

.loader {
    border: 8px solid #ffffff;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transition: height 1s;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.toaster {
    position: absolute;
    display: flex;
    z-index: 9;
    top: -60px;
    right: 12px;
    background-color: #4cae4c;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    margin-left: 11px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-transition: top 1s, opacity 1s;
    -moz-transition: top 1s, opacity 1s;
    -o-transition: top 1s, opacity 1s;
    transition: top 1s, opacity 1s;
    font-size: 24px;
}

.results {
    display: none;
}

.dropdown-button {
    background-color: #ffffff;
    color: #000000;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.75);
}

.dropdown-button:hover {
    transition: background-color 0.2s;
}

.dropdown-button:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
    margin-top: -10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-button {
    background-color: #9a9596;
}

nav {
    display: flex;
}

.import-button {
    margin-left: 15px;
}

.chart-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.chart-wrapper {
    width: 600px;
}

.sudoku-container div {
    margin: 0;
    font-family: monospace;
    min-width: 160px;
}

/*********/
/* MEDIA */
/*********/
@media (max-width: 665px)  {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .sudoku-counter-input-wrapper {
        white-space: nowrap;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .sudoku-counter-input-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .import-button {
        margin-left: 0;
    }

    .sudoku-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .sudoku-container div {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .chart-wrapper {
        width: 90vw;
    }
}
